body{
    background-color: white;
}
nav {
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    box-shadow: 0px 2px 16px 1px rgba(202, 202, 202, 0.4);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

nav img:first-child {
    width: 100px;
}
nav img:last-child{
    width: 32px;
}

header{
    width: 100%;
    min-height: 100vh;
    margin: 120px 0px;
}

header h1{
    letter-spacing: -1px;
    padding: 0px 10px;
    margin: 0px auto 24px;
    text-align: center;
    color: var(--brown-color);
}
header h1 span{
    color: var(--light-brown-color);
}

header a{
    width: 250px;
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 16px 24px;
    background-color: var(--greenish-color);
    border-radius: 12px;
    font-size: 14px;
    text-decoration: none;
    color: var(--brown-color);
}

header a:last-child{
    margin-top: 12px;
    background-color: transparent;
    border: 1px solid var(--brown-color);
}